@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1f6aec;
  --text-dark: #0b2253;
  --gray2: #6d7a98;
  --gray3: #b3becf;
  --bg-color: #f4f7fc;
  --radius: 8px;
}

body {
  font-family: Inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
}
.txt-primary {
  color: var(--primary);
}
.txt-main {
  color: var(--text-dark);
}
.txt-gray2 {
  color: var(--gray2);
}
.txt-gray3 {
  color: var(--gray3);
}

.white-card {
  border: 1px solid #dee3eb;
  background-color: white;
}
